* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #FFFFFF;
    color: #14313D;
    ;
}

.flip-card {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

.flip-card:hover {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
.flip-card-back {
    transform: rotateY(180deg);
  }

.MuiCardContent-root {
    padding: 0px;
}
